name: jinko-build-and-test

on:
  pull_request:
  push:
    branches:
      master

jobs:
  coding-style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check the coding style
      run: |
          cargo fmt -- --check

  build:
    runs-on: ubuntu-latest
    needs: coding-style

    steps:
    - uses: actions/checkout@v2
    - name: Build jinko
      run: |
          cargo clippy

  build-without-warnings:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2
    - name: Make sure that the build completes without any warnings
      env:
        RUSTFLAGS: "-D warnings" # Trigger an error on warnings
      run: |
        cargo clippy

  tests-check:
    runs-on: ubuntu-latest
    needs: coding-style

    steps:
    - uses: actions/checkout@v2
    - name: Check that the unit tests compile
      run: |
          cargo test --no-run

  tests:
    runs-on: ubuntu-latest
    needs: tests-check

    steps:
    - uses: actions/checkout@v2
    - name: Run unit tests and Documentation examples
      run: |
          cargo test

  functional_tests:
    runs-on: ubuntu-latest
    needs: coding-style

    steps:
    - uses: actions/checkout@v2
    - name: Run functional tests
      run: |
          cargo install --git https://github.com/cohenarthur/ft
          tests/func_tests.sh
